
    display: block;
    max-width: 250px;
    margin: 10px auto;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

#choice-block {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#submitbutton {
    background: #5a6b8c;
}

#submitbutton:hover {
    background: #7b8da6;
}

#explanation {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

.choice-box {
    display: block;
    text-align: center;
    margin: 8px auto;
    padding: 10px 0;
    border: 1px solid #666;
    cursor: pointer;
    ;
    ;
    -webkit-border-radius: 5px;
}
